DEBUG=1
SECRET_KEY=django-insecure-5geq$@+(0xwnadl*=zm6c=ul94y$0x(@e2hm^8hl9o%h*dq$dy
DJANGO_SETTINGS_MODULE=config.settings
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DATABASE_URL=sqlite:///db.sqlite3 